@import url("https://fonts.googleapis.com/css?family=Thasadith:700&display=swap");
body {
    font-family: "Thasadith", sans-serif;
}

.nav-body {
    background-color: #fff;
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ddd;
    @media (max-width: 1000px) {
        display: none;
    }
    a {
        white-space: nowrap;
        color: gray;
    }
    a:hover{
        text-decoration: none;
    }
}

.content-area {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    margin: auto;
    width: 80%;
    @media (max-width: 1465px) {
        width: 90%;
    }
}

.logo img {
    width: 25%;
}

.right-contents {
    display: flex;
}
.far-right {
    padding: 7px;
}


.item {
    font-size: 16px;
    padding: 10px 20px;
    color: gray;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 5px;
    transition: 0.5s;
    padding-top: 7px;
}

.item:hover {
    color: #000;
    background-color: #eee;
    text-decoration: none;
}

// .far-right {
//     padding-top: 20px;
//     width: 5%;
// }

// .far-right a {
//     text-decoration: none;
//     color: gray;
// }

// .far-right a:hover {
//     color: black;
// }

.mobile-nav {
    position: sticky;
    top: 0;
    display: none;
    @media (max-width: 1000px) {
        display: block;
    }
    width: 100%;
    border-bottom: 1px solid #ddd;
    height: 50px;
    background-color: #fff;
    .mobile-contents {
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: auto;
        i {
            font-size: 20px;
            margin-top: 15px;
        }
        .logo {
            width: 8%;
            padding: 5px 0px;
            img {
                width: 100%;
            }
        }
    }
}

.options-pane {
    visibility: hidden;
    height: 100%;
    width: 0%;
    background-color: rgb(29, 33, 36);
    transition: 0.2s;
    position: fixed;
    .option {
        padding: 15px 30px;
        font-size: 18px;
        color: #fff;
    }
    .option:hover {
        background-color: rgb(90, 89, 89);
        text-decoration: none;
    }
    hr {
        width: 80%;
        margin: auto;
        color: #aaa;
    }
}