@import url('https://fonts.googleapis.com/css?family=Mukta&display=swap');
body {
    font-family: "Thasadith", sans-serif;
}


/*
National Overseas Transports Assocication
Halsaki Sea Port Centre - 305 Annex Building
Port of Halsaki | Halsaki, Echamia, Illiya
*/

.mood-box {
    width: 50%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    p {
        text-align: center;
        font-family: 'Mukta', sans-serif;
        font-size: 25px;
    }
    button {
        padding: 10px 20px;
        background-color: #333;
        border-radius: 5px;
        border: 1px solid #ddd;
        color: #fff;
    }
}

.slide-container {
    margin-top: 40px;
    position: relative;
    @media (max-width: 600px) {
        width: 90%;
        margin: auto;
    }
    p {
        margin-top: 20px;
        font-size: 35px;
        @media (max-width: 600px) {
            font-size: 25px;
        }
    }
    .bar {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 10px;
        margin-top: 10px;
        background-color: #d6f3ec;
        border-radius: 5px;
        @media (max-width: 600px) {
            height: 5px;
        }
    }
    input {
        -webkit-appearance: none;
        position: relative;
        z-index: 2;
        width: 100%;
        border-radius: 5px;
        outline: none;
    }
    input::-webkit-slider-thumb {
        cursor: pointer;
        -webkit-appearance: none;
        width: 30px;
        height: 30px;
        background-color: #0aac83;
        border-radius: 50%;
        border: none;
        box-shadow: 0 0 0 10px #d6f3ec;
        @media (max-width: 600px) {
            width: 20px;
            height: 20px;
            box-shadow: 0 0 0 5px #d6f3ec;
        }
    }
    input::-webkit-slider-thumb:active {
        box-shadow: 0 0 0 20px #d6f3ec
    }
}

.contentWrapper {
    .pageContent {
        display: flex;
        width: 65%;
        margin: auto;
        @media (max-width: 1410px) {
            width: 80%;
        }
        @media (max-width: 900px) {
            width: 95%;
        }
        @media (max-width: 650px) {
            display: block;
        }
        .left {
            width: 60%;
            @media (max-width: 650px) {
                width: 95%;
                margin: auto;
            }
            .post {
                .title {
                    font-family: 'Mukta', sans-serif;
                    font-size: 40px;
                    // font-weight: bold;
                    @media (max-width: 650px) {
                        font-size: 20px;
                    }
                }
                .tags {
                    display: flex;
                    font-size: 13.5px;
                    a {
                        color: #000;
                        background-color: #ddd;
                        padding: 5px 10px;
                        border-radius: 5px;
                        border: 1px solid #ddd;
                        margin-left: 2%;
                        transition: 0.5s;
                        @media (max-width: 650px) {
                            font-size: 12px;
                            padding: 2px;
                        }
                    }
                    a:first {
                        margin-left: 0;
                    }
                    a:hover {
                        text-decoration: none;
                        background-color: #eee;
                    }
                }
                .subtitle {
                    width: 95%;
                    display: flex;
                    justify-content: space-between;
                    margin: auto;
                    margin-top: 20px;
                    .left {
                        display: flex;
                        width: 95%;
                        .image {
                            width: 7%;
                            @media (max-width: 650px) {
                                width: 12%;
                            }
                            img {
                                width: 100%;
                                border-radius: 50%;
                            }
                        }
                        .user-date {
                            margin-left: 2%;
                            font-size: 15px;
                            color: gray;
                            @media (max-width: 650px) {
                                font-size: 12px;
                            }
                            .user {
                                font-size: 15px;
                                font-weight: bold;
                            }
                            .date {
                                font-size: 12px;
                            }
                        }
                    }
                    .right {
                        width: 5%;
                    }
                }
                .cover {
                    margin-top: 40px;
                    img {
                        width: 100%;
                        border-radius: 5px;
                    }
                }
                .body {
                    img {
                        max-width: 100%;
                    }
                    width: 90%;
                    margin: auto;
                    margin-top: 40px;
                    font-size: 18px;
                    @media (max-width: 650px) {
                        font-size: 15px;
                    }
                }
            }
        }
        .right {
            width: 40%;
            @media (max-width: 650px) {
                width: 95%;
                margin: auto;
                display: none;
            }
            .related-section {
                margin-left: 15%;
                margin-top: 500px;
                @media (max-width: 650px) {
                    margin-left: 0px;
                    margin-top: 50px;
                }
                .title {
                    font-size: 25px;
                    font-weight: bold;
                    @media (max-width: 650px) {
                        font-size: 20px;
                    }
                }
                .posts {
                    @media (max-width: 650px) {
                        display: flex;
                    }
                    a {
                        color: #000;
                        text-decoration: none;
                    }
                    a:hover {
                        text-decoration: none;
                    }
                    .eachRelatedPost {
                        width: 80%;
                        margin: auto;
                        border: 1px solid #eee;
                        border-radius: 5px;
                        padding: 15px;
                        margin-top: 30px;
                        @media (max-width: 650px) {
                            width: 100%;
                        }
                        .thumbnail {
                            img {
                                width: 100%;
                                border-radius: 5px;
                            }
                        }
                        .texts {
                            width: 90%;
                            margin: auto;
                            margin-top: 10px;
                            .title {
                                font-size: 20px;
                                @media (max-width: 650px) {
                                    font-size: 14px;
                                }
                            }
                            .author {
                                font-size: 13px;
                                color: gray;
                            }
                        }
                    }
                    .eachRelatedPost:hover {
                        border: 1px solid #ddd;
                    }
                }
            }
        }
    }
}

.disqus {
    width: 70%;
    margin: auto;
}