<style>
    .cards-space {
        display: block;
        width: 100%;
        margin: auto;
    }
    
    .card {
        width: 50%;
        height: 300px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-left: 10%;
    }
    
    .upper {
        height: 175px;
        /* border-bottom: 1px solid #ddd; */
    }
    
    .upper img {
        width: 90%;
        height: 150px;
        margin: auto;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 5px;
    }
    
    .lower .texts {
        width: 90%;
        margin: auto;
        color: gray;
    }
    
    .lower .texts .body {
        margin-top: 20px;
    }
    
    .lower a {
        font-size: 20px;
        text-decoration: none;
        color: #000;
    }
</style>

<div class="cards-space">
    <div class="card">
        <div class="upper">
            <div class="image">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.GBNABH4WTgb9qTndVWxJigHaHU%26pid%3DApi&f=1" alt="">
            </div>
        </div>
        <div class="lower">
            <div class="texts">
                <a href="#">
                    <div class="title">Title</div>
                </a>
                <div class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, quos.</div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="upper">
            <div class="image">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.GBNABH4WTgb9qTndVWxJigHaHU%26pid%3DApi&f=1" alt="">
            </div>
        </div>
        <div class="lower">
            <div class="texts">
                <a href="#">
                    <div class="title">Title</div>
                </a>
                <div class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, quos.</div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="upper">
            <div class="image">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.GBNABH4WTgb9qTndVWxJigHaHU%26pid%3DApi&f=1" alt="">
            </div>
        </div>
        <div class="lower">
            <div class="texts">
                <a href="#">
                    <div class="title">Title</div>
                </a>
                <div class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, quos.</div>
            </div>
        </div>
    </div>
</div>