<link rel="stylesheet" href="/css/footer.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class="Footer">
    <div class="row-1">
        <div class="logo">
            <a href="/">
                <img src="/images/black_cat_logo.jpg" alt="">
            </a>
        </div>
    </div>

    <div class="row-2">
        <p>About Us</p>
        <p>Terms and Conditions</p>
        <p>
            Contact Us
        </p>
    </div>
</div>