<div class="modal fade" id="welcome" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-left">
                    <div class="image">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2F26u4cqVR8dsmedTJ6%2Fgiphy.gif&f=1&nofb=1" alt="">
                    </div>
                </div>
                <div class="modal-right">
                    <div class="text">
                        <h2>Welcome, Safwan</h2> <br> How's it all going?
                    </div>
                    <button class="btn btn-info">Quite well!</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-body {
        display: flex;
    }
    
    .modal-left {
        width: 30%;
    }
    
    .modal-left img {
        width: 90%;
    }
    
    .btn {
        margin-top: 30px;
    }
</style>