@import url("https://fonts.googleapis.com/css?family=Mukta&display=swap");
.pageWrapper .rotate {
  -webkit-transform: rotate("90deg");
          transform: rotate("90deg");
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pageWrapper .contentWrapper {
  width: 70%;
  margin: auto;
}

@media (max-width: 1410px) {
  .pageWrapper .contentWrapper {
    width: 80%;
  }
}

@media (max-width: 900px) {
  .pageWrapper .contentWrapper {
    width: 98%;
  }
}

.pageWrapper .contentWrapper .top-nav .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .top-nav .row {
    width: 80%;
    margin: auto;
    margin-top: 25px;
  }
}

.pageWrapper .contentWrapper .top-nav .row .span-opener {
  display: none;
}

.pageWrapper .contentWrapper .top-nav .row .span-opener i {
  font-size: 18px;
  margin-top: 10px;
}

.pageWrapper .contentWrapper .top-nav .row .span-opener .pane {
  display: none;
  margin-top: 10px;
}

.pageWrapper .contentWrapper .top-nav .row .span-opener .pane p {
  border-bottom: 1px solid #ddd;
  padding-right: 20px;
}

.pageWrapper .contentWrapper .top-nav .row .span-opener .pane p a {
  color: #000;
}

.pageWrapper .contentWrapper .top-nav .row .span-opener .pane p a:hover {
  text-decoration: none;
}

.pageWrapper .contentWrapper .top-nav .row .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .top-nav .row .categories {
    display: none;
  }
}

.pageWrapper .contentWrapper .top-nav .row .categories a {
  padding: 10px 20px;
  font-size: 18px;
  color: #444;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
}

@media (max-width: 900px) {
  .pageWrapper .contentWrapper .top-nav .row .categories a {
    font-size: 15px;
    padding: 5px 10px;
  }
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .top-nav .row .categories a {
    font-size: 13.5px;
    padding: 5px 5px;
  }
}

.pageWrapper .contentWrapper .top-nav .row .categories a:hover {
  text-decoration: none;
  background-color: #eee;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .top-nav .row .span-opener {
    display: block;
  }
}

.pageWrapper .contentWrapper .top-nav .row .search-area {
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 900px) {
  .pageWrapper .contentWrapper .top-nav .row .search-area {
    padding: 3px 10px;
  }
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .top-nav .row .search-area {
    width: 80%;
  }
}

.pageWrapper .contentWrapper .top-nav .row .search-area i {
  cursor: pointer;
  margin-top: 2.5px;
}

@media (max-width: 900px) {
  .pageWrapper .contentWrapper .top-nav .row .search-area i {
    margin-top: 5px;
    font-size: 12px;
  }
}

.pageWrapper .contentWrapper .top-nav .row .search-area input {
  width: 95%;
  border: none;
}

.pageWrapper .contentWrapper .top-nav .row .search-area input:focus {
  outline: none;
}

.pageWrapper .contentWrapper .large-heading p {
  font-family: 'Mukta', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  color: #444;
  padding: 50px 0px;
  border-bottom: 1px solid #eee;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .large-heading p {
    font-size: 22px;
    padding: 20px;
  }
}

.pageWrapper .contentWrapper .large-heading .new-test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pageWrapper .contentWrapper .large-heading .new-test button {
  background-color: #eee;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.pageWrapper .contentWrapper .large-heading .new-test button:hover {
  background-color: #ddd;
}

.pageWrapper .contentWrapper .all-tests-space {
  margin-top: 50px;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-tests-space {
    margin-top: 15px;
  }
}

.pageWrapper .contentWrapper .all-tests-space .first-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-tests-space .first-three {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.pageWrapper .contentWrapper .all-tests-space .first-three .each-post {
  width: 31%;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-tests-space .first-three .each-post {
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }
}

.pageWrapper .contentWrapper .all-tests-space .first-three .each-post .image {
  height: 250px;
  overflow: hidden;
  border-radius: 5px;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-tests-space .first-three .each-post .image {
    height: 200px;
  }
}

.pageWrapper .contentWrapper .all-tests-space .first-three .each-post .image img {
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pageWrapper .contentWrapper .all-tests-space .first-three .each-post .image img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 0.8;
}

.pageWrapper .contentWrapper .all-tests-space .first-three .each-post .texts {
  padding: 10px 15px;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-tests-space .first-three .each-post .texts {
    padding: 2px 5px;
  }
}

.pageWrapper .contentWrapper .all-tests-space .first-three .each-post .texts .category {
  font-size: 16px;
  color: #1c62e4;
  font-weight: bolder;
}

@media (max-width: 900px) {
  .pageWrapper .contentWrapper .all-tests-space .first-three .each-post .texts .category {
    width: 80%;
    font-size: 12px;
  }
}

.pageWrapper .contentWrapper .all-tests-space .first-three .each-post .texts .title a {
  font-family: 'Mukta', sans-serif;
  font-size: 30px;
  color: #000;
}

@media (max-width: 900px) {
  .pageWrapper .contentWrapper .all-tests-space .first-three .each-post .texts .title a {
    font-size: 22px;
  }
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-tests-space .first-three .each-post .texts .title a {
    font-size: 15px;
  }
}

.pageWrapper .contentWrapper .all-tests-space .first-three .each-post .texts a:hover {
  text-decoration: none;
}

.pageWrapper .contentWrapper .all-tests-space .first-three .each-post .texts .additional-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: gray;
  font-size: 13px;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-tests-space .first-three .each-post .texts .additional-info {
    font-size: 10px;
  }
}

.pageWrapper .contentWrapper .all-tests-space hr {
  margin-top: 30px;
  border: 1px solid #eee;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-tests-space hr {
    margin-top: 15px;
  }
}

.pageWrapper .contentWrapper .all-tests-space .lower-posts {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-tests-space .lower-posts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0px;
  }
}

.pageWrapper .contentWrapper .all-tests-space .lower-posts .left {
  width: 100%;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-tests-space .lower-posts .left {
    margin: auto;
  }
}

.pageWrapper .contentWrapper .all-tests-space .lower-posts .left .each-posts {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-tests-space .lower-posts .left .each-posts {
    width: 95%;
  }
}

.pageWrapper .contentWrapper .all-tests-space .lower-posts .left .each-posts .image {
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-tests-space .lower-posts .left .each-posts .image {
    height: 200px;
  }
}

.pageWrapper .contentWrapper .all-tests-space .lower-posts .left .each-posts .image img {
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pageWrapper .contentWrapper .all-tests-space .lower-posts .left .each-posts .image img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 0.8;
}

.pageWrapper .contentWrapper .all-tests-space .lower-posts .left .each-posts .texts {
  padding: 10px 15px;
}

.pageWrapper .contentWrapper .all-tests-space .lower-posts .left .each-posts .texts .category {
  font-size: 16px;
  color: #1c62e4;
  font-weight: bolder;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-tests-space .lower-posts .left .each-posts .texts .category {
    font-size: 13px;
  }
}

.pageWrapper .contentWrapper .all-tests-space .lower-posts .left .each-posts .texts .title a {
  font-family: 'Mukta', sans-serif;
  font-size: 35px;
  color: #000;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-tests-space .lower-posts .left .each-posts .texts .title a {
    font-size: 27.5px;
  }
}

@media (max-width: 900px) {
  .pageWrapper .contentWrapper .all-tests-space .lower-posts .left .each-posts .texts .title a {
    font-size: 20px;
  }
}

.pageWrapper .contentWrapper .all-tests-space .lower-posts .left .each-posts .texts a:hover {
  text-decoration: none;
}

.pageWrapper .contentWrapper .all-tests-space .lower-posts .left .each-posts .texts .about {
  max-height: 150px;
  overflow: hidden;
  color: gray;
}

@media (max-width: 900px) {
  .pageWrapper .contentWrapper .all-tests-space .lower-posts .left .each-posts .texts .about {
    font-size: 15px;
  }
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-tests-space .lower-posts .left .each-posts .texts .about {
    font-size: 13.5px;
  }
}

.pageWrapper .contentWrapper .all-tests-space .lower-posts .left .each-posts .texts .additional-info {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: gray;
  font-size: 13px;
}

.pageWrapper .contentWrapper .all-tests-space .lower-posts .right {
  width: 25%;
}

@media (max-width: 900px) {
  .pageWrapper .contentWrapper .all-tests-space .lower-posts .right {
    width: 32%;
  }
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-tests-space .lower-posts .right {
    width: 80%;
    margin: auto;
  }
}

.pageWrapper .contentWrapper .all-tests-space .lower-posts .right .right-posts {
  margin-top: 150px;
}

.pageWrapper .contentWrapper .all-tests-space .lower-posts .right .right-posts .heading {
  font-size: 30px;
}

@media (max-width: 900px) {
  .pageWrapper .contentWrapper .all-tests-space .lower-posts .right .right-posts .heading {
    font-size: 22.5px;
  }
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-tests-space .lower-posts .right .right-posts .heading {
    font-size: 20px;
  }
}

.pageWrapper .contentWrapper .all-tests-space .lower-posts .right .each-posts {
  margin-top: 100px;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-tests-space .lower-posts .right .each-posts {
    margin-top: 20px;
  }
}

.pageWrapper .contentWrapper .all-tests-space .lower-posts .right .each-posts .image {
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
}

@media (max-width: 900px) {
  .pageWrapper .contentWrapper .all-tests-space .lower-posts .right .each-posts .image {
    height: 150px;
  }
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-tests-space .lower-posts .right .each-posts .image {
    height: 150px;
  }
}

.pageWrapper .contentWrapper .all-tests-space .lower-posts .right .each-posts .image img {
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pageWrapper .contentWrapper .all-tests-space .lower-posts .right .each-posts .image img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 0.8;
}

.pageWrapper .contentWrapper .all-tests-space .lower-posts .right .each-posts .texts {
  padding: 10px 15px;
}

@media (max-width: 900px) {
  .pageWrapper .contentWrapper .all-tests-space .lower-posts .right .each-posts .texts {
    padding: 0px 10px;
  }
}

.pageWrapper .contentWrapper .all-tests-space .lower-posts .right .each-posts .texts .category {
  font-size: 13px;
  color: #1c62e4;
  font-weight: bolder;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-tests-space .lower-posts .right .each-posts .texts .category {
    font-size: 12px;
  }
}

.pageWrapper .contentWrapper .all-tests-space .lower-posts .right .each-posts .texts .title a {
  font-family: 'Mukta', sans-serif;
  font-size: 25px;
  color: #000;
}

@media (max-width: 900px) {
  .pageWrapper .contentWrapper .all-tests-space .lower-posts .right .each-posts .texts .title a {
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-tests-space .lower-posts .right .each-posts .texts .title a {
    font-size: 20px;
  }
}

.pageWrapper .contentWrapper .all-tests-space .lower-posts .right .each-posts .texts a:hover {
  text-decoration: none;
}

.pageWrapper .contentWrapper .all-tests-space .lower-posts .right .each-posts .texts .additional-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: gray;
  font-size: 13px;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-tests-space .lower-posts .right .each-posts .texts .additional-info {
    font-size: 10px;
  }
}
/*# sourceMappingURL=allTests.css.map */