@import url("https://fonts.googleapis.com/css?family=Thasadith:700&display=swap");
body {
  font-family: "Thasadith", sans-serif;
}

.pageWrapper {
  width: 100%;
}

.pageWrapper input[type="text"] {
  border: 1px solid #ddd;
  padding: 3px;
  border-radius: 2px;
}

.pageWrapper input:focus {
  outline: none;
}

.pageWrapper select {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
}

.pageWrapper .contentWrapper {
  width: 40%;
  margin: auto;
  margin-top: 50px;
}

@media (max-width: 1465px) {
  .pageWrapper .contentWrapper {
    width: 55%;
  }
}

@media (max-width: 1000px) {
  .pageWrapper .contentWrapper {
    width: 75%;
  }
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper {
    width: 95%;
  }
}

.pageWrapper .contentWrapper .primary-dashboard {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .primary-dashboard {
    width: 80%;
    margin: auto;
  }
}

.pageWrapper .contentWrapper .primary-dashboard .left {
  width: 60%;
}

.pageWrapper .contentWrapper .primary-dashboard .left .username {
  font-size: 40px;
  font-weight: bolder;
}

@media (max-width: 1465px) {
  .pageWrapper .contentWrapper .primary-dashboard .left .username {
    font-size: 20px;
  }
}

.pageWrapper .contentWrapper .primary-dashboard .left .name {
  color: gray;
}

@media (max-width: 1465px) {
  .pageWrapper .contentWrapper .primary-dashboard .left .name {
    font-size: 12px;
  }
}

.pageWrapper .contentWrapper .primary-dashboard .left button {
  margin-top: 50px;
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #17a5be;
  border-radius: 5px;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .primary-dashboard .left button {
    font-size: 12px;
    margin-top: 20px;
    padding: 5px;
  }
}

.pageWrapper .contentWrapper .primary-dashboard .right {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pageWrapper .contentWrapper .primary-dashboard .right .image {
  width: 40%;
}

.pageWrapper .contentWrapper .primary-dashboard .right .image img {
  width: 100%;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pageWrapper .contentWrapper .primary-dashboard .right .image img:hover {
  opacity: 0.6;
}

.pageWrapper .contentWrapper .primary-dashboard .right .image input {
  display: none;
}

.pageWrapper .contentWrapper .all-info {
  margin-top: 100px;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-info {
    margin-top: 20px;
  }
}

.pageWrapper .contentWrapper .all-info .nav {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.pageWrapper .contentWrapper .all-info .nav .tab {
  margin-left: 2%;
  color: #000;
  font-size: 17.5px;
  padding: 10px 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1000px) {
  .pageWrapper .contentWrapper .all-info .nav .tab {
    font-size: 13.5px;
    padding: 7.5px;
  }
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-info .nav .tab {
    font-size: 12px;
    margin-left: 1%;
    padding: 5px;
  }
}

.pageWrapper .contentWrapper .all-info .nav .active {
  border-bottom: 2px solid #000;
}

.pageWrapper .contentWrapper .all-info .nav .tab:first-child {
  margin-left: 0px;
}

.pageWrapper .contentWrapper .all-info .nav .tab:hover {
  background-color: #eee;
  text-decoration: none;
}

.pageWrapper .contentWrapper .all-info .each-info {
  margin-top: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  min-height: 400px;
}

.pageWrapper .contentWrapper .all-info .each-info .header {
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-info .each-info .header {
    font-size: 15px;
  }
}

.pageWrapper .contentWrapper .all-info .each-info .info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  border: 1px solid #eee;
  padding: 25px;
  border-radius: 5px;
}

.pageWrapper .contentWrapper .all-info .each-info .info-box .single-fields {
  font-size: 17.5px;
  font-weight: bolder;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-info .each-info .info-box .single-fields {
    font-size: 13px;
  }
}

.pageWrapper .contentWrapper .all-info .each-info .info-box .single-fields .field {
  margin-top: 10px;
}

.pageWrapper .contentWrapper .all-info .each-info .info-box .single-values {
  margin-left: 10%;
  color: gray;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-info .each-info .info-box .single-values {
    font-size: 13px;
  }
}

.pageWrapper .contentWrapper .all-info .each-info .info-box .single-values .value {
  margin-top: 10px;
}

.pageWrapper .contentWrapper .all-info .each-info .info-box .large-value {
  padding: 5px;
  color: gray;
}

.pageWrapper .contentWrapper .all-info .each-info .info-box .title {
  font-size: 25px;
}

@media (max-width: 1000px) {
  .pageWrapper .contentWrapper .all-info .each-info .info-box .title {
    font-size: 22px;
  }
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-info .each-info .info-box .title {
    font-size: 17px;
  }
}

.pageWrapper .contentWrapper .all-info .each-info .info-box .add-info {
  color: gray;
}

@media (max-width: 1000px) {
  .pageWrapper .contentWrapper .all-info .each-info .info-box .add-info {
    font-size: 13.5px;
  }
}

.pageWrapper .contentWrapper .all-info .each-info .info-box .lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pageWrapper .contentWrapper .all-info .each-info .info-box .lower button {
  background-color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-info .each-info .info-box .lower button {
    padding: 5px;
    font-size: 12px;
  }
}

.pageWrapper .contentWrapper .all-info .each-info .record-space .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pageWrapper .contentWrapper .all-info .each-info .record-space .header input {
  padding: 5px;
  width: 70%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-info .each-info .record-space .header input {
    padding: 0;
  }
}

.pageWrapper .contentWrapper .all-info .each-info .record-space .header button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-info .each-info .record-space .header button {
    padding: 5px;
    font-size: 12px;
  }
}

.pageWrapper .contentWrapper .all-info .each-info .record-space .each-record {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 15px;
}

.pageWrapper .contentWrapper .all-info .each-info .record-space .each-record span {
  font-size: 30px;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  padding: 0 12px;
  height: 50px;
  cursor: pointer;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-info .each-info .record-space .each-record span {
    display: none;
  }
}

.pageWrapper .contentWrapper .all-info .each-info .record-space .each-record .record {
  width: 90%;
  margin-left: 2%;
  margin-top: 10px;
  background-color: #eee;
  padding: 15px;
  border-radius: 10px;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-info .each-info .record-space .each-record .record {
    margin: auto;
  }
  .pageWrapper .contentWrapper .all-info .each-info .record-space .each-record .record h5 {
    font-size: 16.5px;
  }
}

.pageWrapper .contentWrapper .all-info .each-info .record-space .each-record .record p {
  color: #666;
}

.pageWrapper .contentWrapper .all-info .each-info .record-space .each-record .record .last-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 650px) {
  .pageWrapper .contentWrapper .all-info .each-info .record-space .each-record .record .last-row {
    font-size: 12px;
  }
}

.pageWrapper .contentWrapper .all-info .each-info .record-space .each-record .record .last-row i {
  cursor: pointer;
}

.modal .modalHeader {
  padding: 20px;
  font-size: 25px;
  color: #fff;
  background-color: #333;
}

.modal .modalHeader i {
  font-size: 30px;
  padding: 0 10px;
}

.modal .modal-body textarea {
  border: 1px solid #ddd;
  width: 100%;
  height: 75px;
}

.modal .modalFooter {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .modalFooter .add-btn {
  background-color: lightseagreen;
}

.modal .modalFooter button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
}

.tip {
  margin-top: 10px;
  background-color: #eee;
  padding: 15px 5px;
  border-left: 2px solid lightseagreen;
  font-size: 12px;
}
/*# sourceMappingURL=profile.css.map */