@import url("https://fonts.googleapis.com/css?family=Mukta&display=swap");
body {
  font-family: "Thasadith", sans-serif;
}

/*
National Overseas Transports Assocication
Halsaki Sea Port Centre - 305 Annex Building
Port of Halsaki | Halsaki, Echamia, Illiya
*/
.mood-box {
  width: 50%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 50px;
}

.mood-box p {
  text-align: center;
  font-family: 'Mukta', sans-serif;
  font-size: 25px;
}

.mood-box button {
  padding: 10px 20px;
  background-color: #333;
  border-radius: 5px;
  border: 1px solid #ddd;
  color: #fff;
}

.slide-container {
  margin-top: 40px;
  position: relative;
}

@media (max-width: 600px) {
  .slide-container {
    width: 90%;
    margin: auto;
  }
}

.slide-container p {
  margin-top: 20px;
  font-size: 35px;
}

@media (max-width: 600px) {
  .slide-container p {
    font-size: 25px;
  }
}

.slide-container .bar {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 10px;
  margin-top: 10px;
  background-color: #d6f3ec;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .slide-container .bar {
    height: 5px;
  }
}

.slide-container input {
  -webkit-appearance: none;
  position: relative;
  z-index: 2;
  width: 100%;
  border-radius: 5px;
  outline: none;
}

.slide-container input::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background-color: #0aac83;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 0 0 0 10px #d6f3ec;
          box-shadow: 0 0 0 10px #d6f3ec;
}

@media (max-width: 600px) {
  .slide-container input::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    -webkit-box-shadow: 0 0 0 5px #d6f3ec;
            box-shadow: 0 0 0 5px #d6f3ec;
  }
}

.slide-container input::-webkit-slider-thumb:active {
  -webkit-box-shadow: 0 0 0 20px #d6f3ec;
          box-shadow: 0 0 0 20px #d6f3ec;
}

.contentWrapper .pageContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  margin: auto;
}

@media (max-width: 1410px) {
  .contentWrapper .pageContent {
    width: 80%;
  }
}

@media (max-width: 900px) {
  .contentWrapper .pageContent {
    width: 95%;
  }
}

@media (max-width: 650px) {
  .contentWrapper .pageContent {
    display: block;
  }
}

.contentWrapper .pageContent .left {
  width: 60%;
}

@media (max-width: 650px) {
  .contentWrapper .pageContent .left {
    width: 95%;
    margin: auto;
  }
}

.contentWrapper .pageContent .left .post .title {
  font-family: 'Mukta', sans-serif;
  font-size: 40px;
}

@media (max-width: 650px) {
  .contentWrapper .pageContent .left .post .title {
    font-size: 20px;
  }
}

.contentWrapper .pageContent .left .post .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13.5px;
}

.contentWrapper .pageContent .left .post .tags a {
  color: #000;
  background-color: #ddd;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-left: 2%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 650px) {
  .contentWrapper .pageContent .left .post .tags a {
    font-size: 12px;
    padding: 2px;
  }
}

.contentWrapper .pageContent .left .post .tags a:first {
  margin-left: 0;
}

.contentWrapper .pageContent .left .post .tags a:hover {
  text-decoration: none;
  background-color: #eee;
}

.contentWrapper .pageContent .left .post .subtitle {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  margin-top: 20px;
}

.contentWrapper .pageContent .left .post .subtitle .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
}

.contentWrapper .pageContent .left .post .subtitle .left .image {
  width: 7%;
}

@media (max-width: 650px) {
  .contentWrapper .pageContent .left .post .subtitle .left .image {
    width: 12%;
  }
}

.contentWrapper .pageContent .left .post .subtitle .left .image img {
  width: 100%;
  border-radius: 50%;
}

.contentWrapper .pageContent .left .post .subtitle .left .user-date {
  margin-left: 2%;
  font-size: 15px;
  color: gray;
}

@media (max-width: 650px) {
  .contentWrapper .pageContent .left .post .subtitle .left .user-date {
    font-size: 12px;
  }
}

.contentWrapper .pageContent .left .post .subtitle .left .user-date .user {
  font-size: 15px;
  font-weight: bold;
}

.contentWrapper .pageContent .left .post .subtitle .left .user-date .date {
  font-size: 12px;
}

.contentWrapper .pageContent .left .post .subtitle .right {
  width: 5%;
}

.contentWrapper .pageContent .left .post .cover {
  margin-top: 40px;
}

.contentWrapper .pageContent .left .post .cover img {
  width: 100%;
  border-radius: 5px;
}

.contentWrapper .pageContent .left .post .body {
  width: 90%;
  margin: auto;
  margin-top: 40px;
  font-size: 18px;
}

.contentWrapper .pageContent .left .post .body img {
  max-width: 100%;
}

@media (max-width: 650px) {
  .contentWrapper .pageContent .left .post .body {
    font-size: 15px;
  }
}

.contentWrapper .pageContent .right {
  width: 40%;
}

@media (max-width: 650px) {
  .contentWrapper .pageContent .right {
    width: 95%;
    margin: auto;
    display: none;
  }
}

.contentWrapper .pageContent .right .related-section {
  margin-left: 15%;
  margin-top: 500px;
}

@media (max-width: 650px) {
  .contentWrapper .pageContent .right .related-section {
    margin-left: 0px;
    margin-top: 50px;
  }
}

.contentWrapper .pageContent .right .related-section .title {
  font-size: 25px;
  font-weight: bold;
}

@media (max-width: 650px) {
  .contentWrapper .pageContent .right .related-section .title {
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  .contentWrapper .pageContent .right .related-section .posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contentWrapper .pageContent .right .related-section .posts a {
  color: #000;
  text-decoration: none;
}

.contentWrapper .pageContent .right .related-section .posts a:hover {
  text-decoration: none;
}

.contentWrapper .pageContent .right .related-section .posts .eachRelatedPost {
  width: 80%;
  margin: auto;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;
}

@media (max-width: 650px) {
  .contentWrapper .pageContent .right .related-section .posts .eachRelatedPost {
    width: 100%;
  }
}

.contentWrapper .pageContent .right .related-section .posts .eachRelatedPost .thumbnail img {
  width: 100%;
  border-radius: 5px;
}

.contentWrapper .pageContent .right .related-section .posts .eachRelatedPost .texts {
  width: 90%;
  margin: auto;
  margin-top: 10px;
}

.contentWrapper .pageContent .right .related-section .posts .eachRelatedPost .texts .title {
  font-size: 20px;
}

@media (max-width: 650px) {
  .contentWrapper .pageContent .right .related-section .posts .eachRelatedPost .texts .title {
    font-size: 14px;
  }
}

.contentWrapper .pageContent .right .related-section .posts .eachRelatedPost .texts .author {
  font-size: 13px;
  color: gray;
}

.contentWrapper .pageContent .right .related-section .posts .eachRelatedPost:hover {
  border: 1px solid #ddd;
}

.disqus {
  width: 70%;
  margin: auto;
}
/*# sourceMappingURL=readmore.css.map */