<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/about.css">
  <title>About - Moner Shastho</title>
</head>
<body>
    <div class="pageWrapper">
      <div class="contentWrapper">
        <div class="banner">
          <img src="/images/about-1.png" alt="">
        </div>

        <div class="long-texts">
          <p>
            Moner Shastho is the first and complete mental health website and application that is dedicated to provide evidence based mental health and well being practice sessions, information that everyone can access and practices to promote their mental health and stay healthy. This user-friendly app and website was developed considering our sociocultural context; however, we consider to use English language so that people from other countries can practice and use our platforms. We also give the opportunity to monitor the mental health and wellbeing of the users and keep their record. Moner Shastho also gives the opportunity to seek help from expert professionals online whenever they require. 
            <br> <br>
            Moner Shastho is the innovation of Telepsychiatry Research & Innovation Network Ltd a registered company in Bangladesh working to ensure access to mental health care for all.

          </p>
        </div>

        <!-- <div class="teams">
          <div class="header">
            <p>Management Team</p>
          </div>
          <div class="members">
            <div class="each-member">
              <strong>Tanjir Rashid Soron</strong> <br>
              <span class="degrees"> MBBS, MPH, MD, MSc</span> <br>
              <span class="role">Team Leader</span>
            </div>

            <div class="each-member">
              <strong>Prof. Dr. Mossadek Hossain Kamal </strong> <br>
              <span class="degrees"> PhD</span> <br>
              <span class="role">Team Lead (IT)</span>
            </div>

            <div class="each-member">
              <strong>Zaid Farzan Chowdhury</strong> <br>
              <span class="role">Team Lead (Communication and Client Support)
              </span>
            </div>
          </div>
        </div>

        <div class="teams">
          <div class="header">
            <p>Mental Health Care Division</p>
          </div>
          <div class="members">
            <div class="each-member">
              <strong>Tanjir Rashid Soron</strong> <br>
              <span class="degrees"> MBBS, MPH, MD, MSc</span> <br>
              <span class="role">Team Leader</span>
            </div>

            <div class="each-member">
              <strong>Dr. Ashiquir Rahman Moon </strong> <br>
              <span class="degrees"> MBBS, MPH</span> <br>
              <span class="role">Research Associate</span>
            </div>

            <div class="each-member">
              <strong>Dr. Fahrija Sabrina Kamal</strong> <br>
              <span class="degrees"> MBBS</span> <br>
              <span class="role">Clinical Care Coordinator
              </span>
            </div>
          </div>

          <div class="members">
            <div class="each-member">
              <strong>Ashiquir Rahman</strong> <br>
              <span class="degrees">Clinical Psychologist</span> <br>
              <span class="role">BS (Psychology) MS & M Phil (Clinical Psychology)</span>
            </div>

            <div class="each-member">
              <strong>Sharmin Ara</strong> <br>
              <span class="degrees">Clinical Psychologist</span> <br>
              <span class="role">BS (Psychology) MS (Clinical Psychology)</span>
            </div>

            <div class="each-member">
              <strong>Marzia Al-Hakeem</strong> <br>
              <span class="degrees">Clinical Psychologist</span> <br>
              <span class="role">BS (Psychology) MS (Clinical Psychology)
              </span>
            </div>
          </div>

          <div class="members">
            <div class="each-member">
              <strong>Saima Akter</strong> <br>
              <span class="degrees">Clinical Psychologist</span> <br>
              <span class="role">BS (Psychology) MS & M Phil (Clinical Psychology)</span>
            </div>

            <div class="each-member">
              <strong>Md. Aminul Islam</strong> <br>
              <span class="degrees">Clinical Psychologist</span> <br>
              <span class="role">BS (Psychology) MS (Clinical Psychology)</span>
            </div>

            <div class="each-member">
              <strong>Saurav Baidya</strong> <br>
              <span class="degrees">Clinical Psychologist</span> <br>
              <span class="role">BS (Psychology) MS (Clinical Psychology)
              </span>
            </div>
          </div>
        </div>

        <div class="teams">
          <div class="header">
            <p>IT Division</p>
          </div>
          <div class="members">

            <div class="each-member">
              <strong>Prof. Dr. Mossadek Hossain Kamal </strong> <br>
              <span class="degrees"> PhD</span> <br>
              <span class="role">Team Lead (IT)</span>
            </div>

            <div class="each-member">
              <strong>Yusuf Brima</strong> <br>
              <span class="role">Commonwealth Postgraduate 
              </span> <br>
              <span class="degrees">University of Dhaka</span>
            </div>
          </div>

          <div class="members">

            <div class="each-member">
              <strong>Hussain Md Safwan
              </strong> <br>
              <span class="role">Web Developer 
              </span> <br>
              <span class="role">Dept. of CSE, University of Dhaka 
              </span>
          </div>

          <div class="each-member">
            <strong>Md. Reaz
            </strong> <br>
            <span class="role">Android Developer 
            </span> <br>
            <span class="role">Dept. of CSE, University of Dhaka 
            </span>
        </div>

        <div class="each-member">
          <strong>Muntaha Tasnim
          </strong> <br>
          <span class="role">Android Developer 
          </span> <br>
          <span class="role">Dept. of CSE, University of Dhaka 
          </span>
      </div>
        </div>

      </div>

      <div class="teams">
        <div class="header">
          <p>Communication and Client Support</p>
        </div>
        <div class="members">

          <div class="each-member">
            <strong>Zaid Farzan Chowdhury </strong> <br>
            <span class="degrees"> Director</span> <br>
            <span class="role">Telepsychiatry Research and Innovation Network Ltd</span>
          </div>

          <div class="each-member">
            <strong>Sanjida Tasnim Promi</strong> <br>
            <span class="role">Communication Executive 
            </span> <br>
            <span class="degrees">BBA, Marketing (NSU)</span>
          </div>
        </div>

    </div> -->

    <p class="contact-header">Keep in touch!</p>
    <div class="contact" id="contact">
      <div class="static">
        <div class="field">Email</div>
        <div class="value">info@trin-innovation.com</div>

        <div class="field">Phone</div>
        <div class="value">+8801552-525252</div>

        <div class="field">Address</div>
        <div class="value">Rupayan Trade Center, 2nd Floor, Banglamotor, Dhaka-1215, Bangladesh
        </div>

      </div>
      <div class="feeds">
        <div class="alert alert-info" id="alert" style="display: none;"></div>
        <div class="name-email">
          <input type="text" placeholder="Name" id="name">
          <input type="text" placeholder="Email" id="email">
        </div>
        <div class="texts">
          <textarea  id="msg" cols="30" rows="10" placeholder="Your message"></textarea>
        </div>
        <button class="btn btn-secondary">Submit</button>
      </div>
    </div>
    </div>
</body>

<script>
  $('.btn').click(e => {
    const name = $('#name').val()
    const email = $('#email').val()
    const msg = $('#msg').val()
    const alert = $('#alert')
    if (!name || !email || !msg) {
      alert.show()
      alert.html('Fill up all the fields')
    } else {
      alert.show()
      alert.html('Feed back received. Thanks!')
      const data = {
        name,
        email,
        msg
      }
      console.log(data)
      $.ajax({
        url: '/users/feedback',
        type: 'POST',
        data,
        success: data => {
          location = '/users/about'
        }
      })
    }
  })
</script>

</html>