<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/footer.css">
    <title>Document</title>
</head>

<body>

    <div class="cards-space">
        <div class="card">
            <div class="upper">
                <div class="image">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.GBNABH4WTgb9qTndVWxJigHaHU%26pid%3DApi&f=1" alt="">
                </div>
            </div>
            <div class="lower">
                <div class="texts">
                    <a href="#">
                        <div class="title">Title</div>
                    </a>
                    <div class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, quos.</div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="upper">
                <div class="image">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.GBNABH4WTgb9qTndVWxJigHaHU%26pid%3DApi&f=1" alt="">
                </div>
            </div>
            <div class="lower">
                <div class="texts">
                    <a href="#">
                        <div class="title">Title</div>
                    </a>
                    <div class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, quos.</div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="upper">
                <div class="image">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.GBNABH4WTgb9qTndVWxJigHaHU%26pid%3DApi&f=1" alt="">
                </div>
            </div>
            <div class="lower">
                <div class="texts">
                    <a href="#">
                        <div class="title">Title</div>
                    </a>
                    <div class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, quos.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="sub-footer"></div>
    <div class="footer-body">
        <div class="rows">
            <div class="row-1">
                <a href="#"><i class="fa fb fa-facebook-f"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
        <div class="row-2">
            <div><a href="#">About Us</a></div>
            <div><a href="#">Terms and Conditions</a></div>
            <div><a href="#">Contact</a></div>
        </div>
        <div class="row-3">
            <p>wwww.bad-blogger.herokuapp.com</p>
        </div>
    </div>
</body>

</html>