<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot Password - badBLogger</title>

</head>

<body>

    <% if (messages.mail_sent) {%>
        <div class="alert alert-info" role="alert">
            A link has been sent the given email address
        </div>
        <% } %>

            <div class="form-area">
                <div class="logo">
                    <img class="logo_img" src="/images/black_cat_logo.jpg" alt="">
                </div>
                <br>
                <div class="alert alert-danger" id="alert" style="width: 80%; margin-left: 10%; display: none;"></div>
                <div class="alert alert-success" id="success" style="width: 80%; margin-left: 10%; display: none;"></div>
                <form id="form-reg" action="/admin/forgot_password" method="POST">
                    <p id="labelEmail">Select the category of user</p>
                    <select name="" id="user-type">
                      <option value="general">General</option>
                      <option value="expert">Expert</option>
                    </select>
                    <p id="labelEmail">Give the email address used in registration</p>
                    <input type="email" name="email" class="emailInput" id="email"> <br>

                    <button type="submit" id="submit-btn" class="btn btn-outline-info">Submit</button>
                </form>
                <br>
                <div class="links">
                    <p><a href="/admin/login">Login</a> | <a href="/admin/register">Create One!</a></p>
                </div>
            </div>

            <style>
                #form-reg {
                    width: 100%;
                    margin: 0 auto;
                    /* margin-top: 15%; */
                }
                
                .logo_img {
                    margin-left: 40%;
                }
                
                .links {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                
                .reg-link a {
                    text-decoration: none;
                }
                
                select {
                    width: 80%;
                    margin-left: 10%;
                    background-color: #fff;
                    padding: 10px;
                    border: 1px solid #ddd;
                    border-radius: 20px;
                    cursor: pointer;
                }
                
                select:focus {
                    outline: none;
                }
                
                .form-area {
                    margin: auto;
                    margin-top: 8%;
                    top: 0;
                    width: 30%;
                    border: 2px solid rgb(235, 234, 234);
                    border-radius: 10px 10px 10px 10px;
                }
                
                #email {
                    margin-left: 10%;
                    width: 80%;
                    height: 35px;
                    border-radius: 15px 15px 15px 15px;
                    border: 1px solid rgb(218, 216, 216);
                    padding: 10px;
                }
                
                #labelEmail {
                    margin-left: 10%;
                    margin-top: 20px;
                }
                
                #passwordN {
                    margin-left: 10%;
                    height: 35px;
                    border: 1px solid rgb(218, 216, 216);
                    width: 80%;
                    border-radius: 15px 15px 15px 15px;
                }
                
                #labelPassword {
                    margin-left: 10%;
                }
                
                #submit-btn {
                    margin-top: 20px;
                    margin-left: 10%;
                    width: 80%;
                    border-radius: 15px 15px 15px 15px;
                }
            </style>


</body>
<script>
    $('button').click((e) => {
        e.preventDefault()

        const userType = $('#user-type').val()
        const email = $('#email').val()
        if (email == '' || email == null) {
            $('#alert').show()
            $('#alert').html('Enter the email')
        } else {
            const data = {
                userType,
                email
            }
            $('#alert').hide()
            console.log(data)
            $.ajax({
                type: 'POST',
                url: '/admin/forgot_password',
                data,
                success: data => {
                    if (data.status) {
                        $('#success').show()
                        $('#success').html(data.msg)
                    } else {
                        $('#alert').show()
                        $('#alert').html(data.msg)
                    }
                }
            })
        }
    })
</script>

</html>