<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/auth.css">
    <title>Forgot Password - badBLogger</title>

</head>

<body>


    <div class="form-area">
        <div class="logo-reg">
            <img class="logo_img" src="/images/black_cat_logo.jpg" alt="">
        </div>
        <div class="alert alert-danger" id="alert" style="display: none; margin-left: 10%; margin-top: 20px; width: 80%;"></div>
        <div class="alert alert-success" id="success" style="display: none; margin-left: 10%; margin-top: 20px; width: 80%;"></div>

        <form action="/admin/login" method="POST">
            <div class="form-reg">
                <div class="label">Enter the category of user</div>
                <div class="email input">
                    <select name="" id="userType" style="
                            width: 100%;
                            border: 1px solid #ddd;
                            border-radius: 20px;
                            cursor: pointer;
                            padding: 10px;
                            background-color: #fff;">
                                <option value="general">General</option>
                                <option value="expert">Expert</option>
                            </select>
                </div>
                <div class="label">Enter the email used in registration</div>
                <div class="email input">
                    <input type="email" name="email" id="email" placeholder="Email">
                </div>
                <div class="submit">
                    <button id="submit-btn" class="submit-btn">Submit</button>
                </div>
            </div>
        </form>
        <br>
        <div class="links">
            <p><a href="/admin/forgot_password">Forgot Password?</a></p>
            <p data-toggle="modal" data-target="#staticBackdrop">Dont have an account? <a href="#">Create One!</a></p>
        </div>
    </div>


</body>
<script>
    $('#submit-btn').click((e) => {
        e.preventDefault()
        const email = $('#email').val()
        const userType = $('#userType').val()
        if (email == '' || email == null) {
            $('#alert').show()
            $('#alert').html('Enter the email')
        } else {
            const data = {
                email,
                userType
            }
            $('#alert').hide()
            console.log(data)
            $.ajax({
                type: 'POST',
                url: '/admin/forgot_password',
                data,
                success: data => {
                    if (data.status) {
                        $('#success').show()
                        $('#success').html(data.msg)
                    } else {
                        $('#alert').show()
                        $('#alert').html(data.msg)
                    }
                }
            })
        }
    })
</script>

</html>