<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
  <link rel="icon" href="/images/black_cat_logo.jpg">
  <title>badBlogger</title>
</head>

<body>

  <!-- NavBar -->
  <div class="complete-bar">
    <div class="topnav">
      <div class="navlinks">
        <a href="/">
          <div class="home">
            <p>Home</p>
          </div>
        </a>
        <div class="create-post">
          <p id="create-btn" data-toggle="modal" data-target="#exampleModalCenter">Create Post</p>
        </div>
        <div class="notifs" onclick="show_notifs()">
          <p>Notifications</p>
        </div>
        <div class="notifs">
          <a href="/users/profile">
            <div class="profile">
              <p>Profile</p>
            </div>
          </a>
        </div>
        <div class="search" id="id-search">
          <p>Search</p>
        </div>
        <div class="log-out">
          <button id="log-btn" class="btn btn-outline-info">Log Out</button>
        </div>

      </div>

    </div>

    <div class="search-bar myCustomSearch" id="id-search-bar">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="badBlogger.." aria-label="Recipient's username"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Search</button>
        </div>
      </div>
    </div>

  </div>

  <!-- <div class="notif-frame" id="notif-frame">
    <a href="#">
      <div class="each-notif">

      </div>
    </a>  
  </div> -->
  <!-- ------ -->

  <div class=""><%- body %></div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="../ckeditor/ckeditor.js"></script>


  <style>
    @import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');
    @import url('https://fonts.googleapis.com/css?family=ABeeZee&display=swap');

    .container {
      width: 100%;
    }

    .complete-bar {
      top: 0;
      position: sticky;
      background-color: white;
    }

    .topnav {
      border-bottom: 1px solid rgb(230, 229, 229);
    }

    .tapnav a {
      text-decoration: none;
      color: black;
    }

    .navlinks {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .navlinks .home {
      border-bottom: 3px solid rgb(20, 157, 161);
    }

    .navlinks .create-post {
      height: 100%;
      margin-left: 60px;
    }

    .navlinks .notifs {
      margin-left: 60px;
      text-align: center;
    }

    .navlinks .search {
      margin-left: 60px;
      text-align: center;
      display: flex;
    }

    .navlinks input {
      width: 100%;
    }

    .navlinks .log-out {
      margin-left: 60px;
      text-align: center;
    }

    .search-bar {
      display: none;
      width: 30%;
      margin: auto;
      margin-top: 10px;
    }

    .navlinks p {
      padding-top: 20px;
      font-size: 18px;
      font-family: 'ABeeZee', sans-serif;
    }

    .navlinks .create-post:hover,
    .notifs:hover,
    .home:hover,
    #id-search:hover {
      border-bottom: 3px solid rgb(20, 157, 161);
      color: rgb(20, 157, 161);
    }

    .notif-frame {
      display: none;
      position: fixed;
      width: 35%;
      background-color: white;
      border: 1px solid rgb(236, 236, 236);
      border-radius: 0px 0px 10px 10px;
      margin-left: 30%;
      overflow-y: scroll;
      height: 400px;
    }

    .notif-frame .each-notif {
      width: 99%;
      height: 60px;
      border-bottom: 1px solid rgb(204, 203, 203);
    }
  </style>

  <script>
    $(document).ready(() => {

      document.querySelector("#log-btn").addEventListener('click', (e) => {
        window.location = "/admin/logout";
      });

      var vis = false;
      $('#id-search').click(() => {
        if (vis == false) {
          console.log('close');
          document.getElementById('id-search-bar').style.display = 'flex';
          vis = true;
        }
        else {
          console.log('open');
          document.getElementById('id-search-bar').style.display = 'none';
          vis = false;
        }
      })
    });

    function show_notifs() {
      document.getElementById('notif-frame').style.display = 'block';
    }
  </script>

</body>

</html>