<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/auth.css">
    <title>Login - badBLogger</title>

</head>

<body>

    <% if (messages.reset_success) {%>
        <div class="alert alert-success" role="alert">
            Password reset successfully. Log in with the new password
        </div>
        <% } %>

            <div class="form-area">
                <div class="logo-reg">
                    <img class="logo_img" src="/images/black_cat_logo.jpg" alt="">
                </div>
                <form action="/admin/login/" method="POST">
                    <div class="form-reg">
                        <% if (errorMessage.length != 0) { %>
                            <div class="alert alert-danger" style="margin-top: 20px;">
                                <%= errorMessage %>
                            </div>
                            <% } %>
                                <input type="hidden" name="device" value="android">
                                <input type="hidden" name="handle" value="email">
                                <div class="label">Email/Phone</div>
                                <div class="email input">
                                    <input type="email" name="email" id="">
                                </div>
                                <div class="label">Password</div>
                                <div class="password input">
                                    <input type="password" name="password" id="">
                                </div>
                                <div class="submit">
                                    <button class="submit-btn">Submit</button>
                                </div>
                    </div>
                </form>
                <br>
                <div class="links">
                    <p><a href="/admin/forgot_password">Forgot Password?</a></p>
                    <p data-toggle="modal" data-target="#staticBackdrop">Dont have an account? <a href="#">Create One!</a></p>
                </div>
            </div>

            <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Choose user type</p>
                            <div class="users">
                                <div class="user-btn">
                                    <p><button id="general-user">General User</button></p>
                                </div>
                                <div class="user-btn">
                                    <p><button id="expert-user">Expert User</button></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</body>

<script>
    $('#general-user').click((e) => {
        location = '/admin/register/general'
    })
    $('#expert-user').click((e) => {
        location = '/admin/register/expert'
    })
</script>

</html>