<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/allTests.css">
    <title>
    </title>
</head>

<body>
    <div class="pageWrapper">
        <div class="contentWrapper">
            <div class="top-nav">
                <div class="row">

                    <div class="categories">
                        <a href="/users/materials?category=Manage Stress">Manage Stress</a>
                        <a href="/users/materials?category=Connected">Connected</a>
                        <a href="/users/materials?category=Relaxation">Relaxation</a>
                        <a href="/users/materials?category=Mindfulness">Mindfulness</a>
                        <a href="/users/materials?category=Sleep">Sleep</a>
                        <a href="/users/materials?category=Activity Schedule">Activity Schedule</a>
                        <a href="/users/materials?category=Self Care">Self Care</a>
                        <a href="/users/materials?category=Specific Problem">Specific Problem</a>
                        <a href="/users/materials?category=Health Updates">Health Updates</a>
                    </div>
                    <div class="span-opener"><i class="fa fa-align-justify"></i>
                        <div class="pane" id="pane">
                            <p><a href="/users/materials?category=Manage Stress">Manage Stress</a></p>
                            <p><a href="/users/materials?category=Connected">Connected</a></p>
                            <p><a href="/users/materials?category=Relaxation">Relaxation</a></p>
                            <p><a href="/users/materials?category=Mindfulness">Mindfulness</a></p>
                            <p><a href="/users/materials?category=Sleep">Sleep</a></p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="all-tests-space" style="margin-top: 0px;">

                <div class="lower-posts">
                    <div class="left">
                        <% for (let i=0; i<data.length; i++) { %>
                            <div class="each-posts">
                                <div class="image">
                                    <img src="<%=data[i].thumbnail%>" alt="">
                                </div>
                                <div class="texts">
                                    <div class="category">
                                        <%=data[i].category%>
                                    </div>
                                    <div class="title">
                                        <a href="/admin/single-test">
                                            <%=data[i].title%>
                                        </a>
                                    </div>
                                    <div class="about">
                                        <%-data[i].body%>
                                    </div>
                                    <div class="additional-info">
                                        <span>Admin</span>
                                        <span>12 Questions - 8 Minutes</span>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
                    <div class="right">
                        <div class="right-posts">
                            <div class="heading">People also take</div>
                            <% for (let i=0; i<3; i++) { %>
                                <div class="each-posts">
                                    <div class="image">
                                        <img src="https://i.kinja-img.com/gawker-media/image/upload/c_scale,f_auto,fl_progressive,q_80,w_1600/xkvwp2fslqasirabshfm.jpg" alt="">
                                    </div>
                                    <div class="texts">
                                        <div class="category">Category</div>
                                        <div class="title"><a href="/admin/single-test">A rather short title</a></div>
                                        <div class="additional-info">
                                            <span>Admin</span>
                                            <span>12 Questions - 8 Minutes</span>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    let isOpen = false
    $('.span-opener').click((e) => {
        if (!isOpen) {
            $('#pane').fadeIn()
            $('.span-opener i').toggleClass('rotate')
            isOpen = true
        } else {
            $('#pane').fadeOut()
            $('.span-opener i').toggleClass('rotate')
            isOpen = false
        }
    })

    $('#search-btn').click((e) => {
        const search = $('#search').val()
        if (search.lenght != 0) {
            $('#search-input').val(search)
            $('#search-form').submit()
        }
    })
</script>

</html>