<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/navbar.css">
    <title>Document</title>
</head>

<body>
    <div class="nav-body">
        <div class="content-area">
            <div class="logo">
                <a class="logo-img" href="#">
                    <img src="../public/images/black_cat_logo.jpg" alt="">
                </a>
            </div>
            <div class="right-contents">
                <div class="search item">
                    <input type="text" class="searh-input" id="search-input">
                    <a href="#"><i class="fa fa-search"></i></a>
                </div>
                <a href="#" class="item">
                    <div class="create-post">Create</div>
                </a>
                <a href="#" class="item">
                    <div class="saved">Saved</div>
                </a>
                <a href="#" class="item">
                    <div class="ntoifications"><i class="fa fa-bell"></i></div>
                </a>
            </div>
        </div>
        <div class="far-right">
            <a href="#" class="log">Sign in</a>
        </div>
    </div>
</body>

</html>