<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Profile</title>
</head>

<body>
    <div class="pageWrapper">
        <div class="contentWrapper">
            <div class="primary-dashboard">
                <div class="left">
                    <div class="username">hussain_safwan</div>
                    <div class="name">Hussain MD Safwan</div>
                    <button class="edit" id="edit-btn">Update</button>
                </div>
                <div class="right">
                    <div class="balance"></div>
                    <div class="image">
                        <label for="update-img">
                            <img src="https://avatars2.githubusercontent.com/u/32009766?s=460&u=6576285a4dc5684ebfc3223a76308f26a784a7ca&v=4" alt="">
                        </label>
                        <input type="file" name="" id="update-img">
                    </div>
                </div>
            </div>

            <div class="all-info">
                <div class="nav">
                    <a href="#" id="1" class="tab active">Personal</a>
                    <a href="#" id="2" class="tab">Occupational</a>
                    <a href="#" id="3" class="tab">Psychological</a>
                    <a href="#" id="4" class="tab">Tests Taken</a>
                </div>
                <div class="each-info" id="info-1">
                    <div class="header">Personal</div>
                    <div class="info-box">
                        <div class="single-fields">
                            <div class="field">Age</div>
                            <div class="field">Gender</div>
                            <div class="field">Marital Status</div>
                            <div class="field">Area of living</div>
                            <div class="field">Type of Residence</div>
                            <div class="field">Family Type</div>
                        </div>
                        <div class="single-values">
                            <div class="value">22</div>
                            <div class="value">Male</div>
                            <div class="value">:'-(</div>
                            <div class="value">Sylhet</div>
                            <div class="value">Own</div>
                            <div class="value"></div>
                        </div>
                    </div>
                </div>

                <div class="each-info" id="info-2" style="display: none;">
                    <div class="header">Occupational</div>
                    <div class="info-box">
                        <div class="single-fields">
                            <div class="field">Education</div>
                            <div class="field">Occupation</div>
                            <div class="field">Monthly Income</div>
                        </div>
                        <div class="single-values">
                            <div class="value">Bachelors</div>
                            <div class="value">Gorib</div>
                            <div class="value">EEEEEEEhhhhh!!</div>
                        </div>
                    </div>
                </div>

                <div class="each-info" id="info-3" style="display: none;">
                    <div class="header">Psychological</div>
                    <div class="info-box">
                        <div class="single-fields">
                            <div class="field">Family history of mental illness</div>
                            <div class="field">Child Abuse</div>
                            <div class="field">Relationship Problem</div>
                            <div class="field">Personality Pattern </div>
                            <div class="field">Stressful Events</div>
                            <div class="field">Substance Abuse</div>
                            <div class="field">Diagnosed Mental Disorder</div>
                            <div class="field">Treatment History</div>
                        </div>
                        <div class="single-values">

                        </div>
                    </div>
                </div>

                <div class="each-info" id="info-4" style="display: none;">
                    <div class="header">Tests Taken</div>

                </div>
            </div>

        </div>
    </div>
</body>
<script>
    $('.tab').click((e) => {
        const eachInfo = $('.each-info')
        for (i = 0; i < eachInfo.length; i++) {
            $(eachInfo[i]).hide()
        }
        const eachTabs = $('.tab')
        for (let i = 0; i < eachTabs.length; i++) {
            $(eachTabs[i]).removeClass('active')
        }
        const id = '#info-' + e.target.id
        $(id).show()
        $(e.target).addClass('active')
    })
</script>

</html>