<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/expertReg.css">
    <title>Register - badBlogger</title>

</head>

<body>

    <div class="form-area">
        <div class="logo-reg">
            <img class="logo_img expert-logo" src="/images/black_cat_logo.jpg" alt="">
        </div>
        <div class="user-type">
            <p>Expert User Registration</p>
        </div>
        <div class="form-reg">
            <div class="alert alert-danger" id="alert" style="display: none; margin-top: 20px;"></div>
            <p>Personal</p>
            <div class="label">Name</div>
            <div class="name input">
                <input type="text" name="name" placeholder="Name" id="name">
            </div>
            <div class="label">Email</div>
            <div class="email input">
                <input type="email" name="email" placeholder="Email" id="email">
            </div>
            <div class="label">Phone</div>
            <div class="email input">
                <input type="email" name="phoneNumber" placeholder="Phone Number" id="phoneNumber">
            </div>
            <div class="label">Password</div>
            <div class="password input">
                <input type="password" name="password" id="password">
            </div>
            <div class="label">Confirm Password</div>
            <div class="password input">
                <input type="password" name="cpass" id="cpass">
            </div>
            <div class="label">Residence</div>
            <div class="side-by-side">
                <select name="" id="country">
                    <option value="" disabled>Select country</option>
                </select>

                <select name="" id="city">
                </select>
            </div>
            <p>Professional</p>

            <div class="label">Organization</div>
            <div class="email input">
                <input type="text" name="organization" id="organization" placeholder="Where do you work?">
            </div>

            <div class="label">Designation</div>
            <div class="email input">
                <input type="text" name="designation" id="designation" placeholder="What's your designation there?">
            </div>
            
            <div class="label">Education</div>
            <div class="side-by-side">
                <input type="text" placeholder="Highest Degree" id="hDegree">
                <input type="text" placeholder="Institute" id="institute">
                <input type="text" placeholder="Field of Study" id="field">
            </div>

            <div class="label">License Number</div>
            <div class="email input">
                <input type="text" name="organization" id="licnese" placeholder="License">
            </div>

            <div class="submit">
                <button class="submit-btn" id="submit-btn">Submit</button>
            </div>
        </div>
        <br>
        <div class="links">
            <p>Have an account? <a href="/admin/login">Login</a></p>
        </div>
    </div>

</body>
<script>
    const check = (data) => {
        return data == '' || data == null || data == undefined
    }

    function showAlert(msg) {
        console.log(msg);
        $('#alert').show();
        $('#alert').html(msg);
        $('html, body').animate({
            scrollTop: 0
        }, 'slow');
    }
    $('#submit-btn').click((e) => {
        const name = $('#name').val()
        const username = $('#username').val()
        const email = $('#email').val()
        const phoneNumber = $('#phoneNumber').val()
        const organization = $('#organization').val()
        const designation = $('#designation').val()
        const password = $('#password').val()
        const cpass = $('#cpass').val()
        const city = $('#city').val()
        // const country = $('#country').val()
        const license = $('#license').val()
        const hDegree = $('#hDegree').val()
        const institute = $('#institute').val()
        const field = $('#field').val()

        console.log(city, selectedCountry)

        if (check(name)) {
            showAlert('Enter your name')
        } else if (check(email)) {
            showAlert('Enter the email')
        } else if (check(phoneNumber)) {
            showAlert('Enter the phone number')
        } else if (check(organization)) {
            showAlert('Enter the organization you work for')
        } else if (check(city)) {
            showAlert('Enter the city you live in')
        } else if (check(country)) {
            showAlert('Enter the country you live')
        } else if (check(hDegree)) {
            showAlert('Enter the your highest achieved degree')
        } else if (check(institute)) {
            showAlert('Enter the institute')
        } else if (check(field)) {
            showAlert('Enter your field of study')
        } else if (check(designation)) {
            showAlert('Enter your designation')
        } else if (check(password) || password.length < 6) {
            showAlert('Adjust the length of password, minimum of 6 characters')
        } else if (password != cpass) {
            showAlert('Passwords do not match')
        } else {
            $('#alert').hide()
            const data = {
                name,
                email,
                phoneNumber,
                organization,
                designation,
                password,
                city,
                country: selectedCountry,
                license,
                hDegree,
                institute,
                field
            }
            console.log(data)
            $.ajax({
                type: 'POST',
                url: '/admin/register/expert',
                data,
                success: data => {
                    console.log(data)
                    if (data.status) {
                        location = '/admin/login'
                    } else {
                        console.log('else')
                        showAlert(data.msg)
                    }
                }
            })
        }
    })
</script>
<script src="/js/country.js"></script>
<script>
    let selectedCountry;
    const country = countryArray.map((x) => x.country);
    for (let i = 0; i < country.length; i++) {
      $('#country').append(`<option value="${i}">${country[i]}</option>`);
    }
    const citySelector = $('#city');
    $(document).on('change', '#country', (e) => {
      const selectedIndex = e.target.value;
      selectedCountry = countryArray[selectedIndex].country
      citySelector.empty();
      for (let i = 0; i < countryArray[selectedIndex].states.length; i++) {
        const city = countryArray[selectedIndex].states[i];
        citySelector.append(
          `<option value="${city}">${city}</option>`
        );
      }
    });
  </script>

</html>