<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/auth.css">
    <title>Register - badBlogger</title>

</head>

<body>

    <input type="hidden" value="<%=email%>" id="email">
    <input type="hidden" value="<%=usertype%>" id="usertype">
    <div class="form-area">
        <div class="logo-reg">
            <img class="logo_img" src="/images/black_cat_logo.jpg" alt="">
        </div>
        <div class="user-type">
            <p>Password Reset</p>
        </div>
        <div class="form-reg">
            <div class="alert alert-danger" id="alert" style="display: none; margin-top: 20px;"></div>

            <div class="label">New Password</div>
            <div class="password input">
                <input type="password" name="password" id="password">
            </div>
            <div class="label">Confirm Password</div>
            <div class="password input">
                <input type="password" name="cpass" id="cpass">
            </div>
            <div class="submit">
                <button class="submit-btn" id="submit-btn">Submit</button>
            </div>
        </div>
        <br>
    </div>

</body>
<script>
    $('#google-reg').click(e => {
        location = '/admin/register/general/google'
    })
    const check = (data) => {
        return data == '' || data == null || data == undefined
    }

    function showAlert(msg) {
        console.log(msg);
        $('#alert').show();
        $('#alert').html(msg);
        $('html, body').animate({
            scrollTop: 0
        }, 'slow');
    }
    $('#submit-btn').click((e) => {
        const password = $('#password').val()
        const cpass = $('#cpass').val()
        const email = $('#email').val()
        const usertype = $('#usertype').val()
        if (check(password) || password.length < 6) {
            showAlert('Adjust the length of password, minimum of 6 characters')
        } else if (password != cpass) {
            showAlert('Passwords do not match')
        } else {
            $('#alert').hide()
            const data = {
                password,
                email,
                usertype
            }
            console.log(data)
            $.ajax({
                type: 'POST',
                url: '/admin/reset_password',
                data,
                success: data => {
                    location = '/'
                }
            })
        }
    })
</script>

</html>