<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reset Password - badBLogger</title>

</head>

<body>

  <% if (messages.okay) {%>
  <div class="alert alert-success" role="alert">
    Almost done. Now set yourself a strong password to continue
  </div>
  <% } %>

  <% if (messages.unmatched) {%>
    <div class="alert alert-danger" role="alert">
      Passwords do not match, try again
    </div>
    <% } %>

  <div class="form-area">
    <div class="logo">
      <img class="logo_img" src="/images/black_cat_logo.jpg" alt="">
    </div>
    <br>
    <form id="form-reg" action="/admin/reset_password" method="POST">
      <input type="hidden" name="email" id="email" value="<%= Email %>">
      <p id="labelEmail">New Password</p>
      <input type="password" name="password" class="emailInput" id="emailN" placeholder="New password"> 
        
        <br>

      <p id="labelEmail">Confirm New Password</p>
      <input type="password" name="confirmPassword" class="emailInput" id="emailN" placeholder="Confirm new password">

      <button type="submit" id="submit-btn" class="btn btn-outline-info">Submit</button>
    </form>
    <br>
    <div class="links">
      <p><a href="/admin/login">Login</a> | <a href="/admin/register">Create One!</a></p>
    </div>
  </div>

  <style>
    #form-reg {
      width: 100%;
      margin: 0 auto;
      /* margin-top: 15%; */
    }

    .logo_img {
      margin-left: 40%;
    }

    .links {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .reg-link a {
      text-decoration: none;
    }

    .form-area {
      margin: auto;
      margin-top: 8%;
      top: 0;
      width: 30%;
      border: 2px solid rgb(235, 234, 234);
      border-radius: 10px 10px 10px 10px;
    }

    #emailN {
      margin-left: 10%;
      width: 80%;
      height: 35px;
      border-radius: 15px 15px 15px 15px;
      border: 1px solid rgb(218, 216, 216);
    }

    #labelEmail {
      margin-left: 10%;
    }

    #passwordN {
      margin-left: 10%;
      height: 35px;
      border: 1px solid rgb(218, 216, 216);
      width: 80%;
      border-radius: 15px 15px 15px 15px;
    }

    #labelPassword {
      margin-left: 10%;
    }

    #submit-btn {
      margin-top: 20px;
      margin-left: 10%;
      width: 80%;
      border-radius: 15px 15px 15px 15px;
    }
  </style>


</body>

</html>