<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

</head>

<body>

  <form id="form-reg" action="/users/verify_post" method="POST">

    <div class="form-group">
      <p id="verify">Secret Token</label>
        <input type="text" name="token" id="token" value="<%= typeof email != 'undefined' ? email : '' %>"
          class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the token">
    </div>
    <button type="submit" class="btn btn-info btn-lg btn-block">Verify</button>

  </form>

  <style>
    #form-reg {
      width: 50%;
      margin: 0 auto;
      margin-top: 15%;

    }
  </style>


</body>

</html>