.read-more {
  background-color: red;
  color: white;
  font-size: 12px;
  margin-left: 2px;
  text-decoration: none;
  /* display: none; */
}

#comment-area {
  display: none;
}

@import url("https://fonts.googleapis.com/css?family=Thasadith:700&display=swap");

body {
  font-family: "Thasadith", sans-serif;
  /* background-color: rgb(243, 241, 241);  */
}

.searchBox {
  display: flex;
  width: 60%;
  margin: auto;
  padding: 20px 0;
}

.searchBox .searchbar {
  width: 80%;
}

.searchBox .searchbar input {
  width: 99%;
  padding: 10px 0 10px 10px;
}

.searchBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.other-than-img{
  margin-left: 10px;
}

.allPost {
  width: 50%;
  margin: 0 auto;
  background-color: white;
}

.eachPost {
  border: 1px solid rgb(230, 229, 229);
  border-radius: 10px;
  margin-top: 20px;
}
.allPost hr{
  width: 100%;
}

.eachPost:hover {
  box-shadow: 2px 0px 2px 0px rgb(200, 200, 200);
}

.eachPost:last-child {
  padding: 10px;
  /* border-bottom: 0px solid black; */
  padding-bottom: 30px;
}

.firstRow-group {
  display: flex;
}

.firstRow {
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
}

.firstRow .leftSide {
  display: flex;
}

.author-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img {
  /* margin: auto; */
  display: block;
  width: 50px;
  height: 50%;
  border-radius: 50%;
}

.firstRow .right-side {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.footer {
  display: flex;
}

.footer p {
  font-size: 15px;
  color: gray;
}

.footer .date {
  margin-left: 10px;
}

.firstRow .title {
  margin-bottom: 20px;
}
.title a{
  font-size: 30px;
  color: rgb(23, 165, 190);
  text-decoration: none;
}
.title a:hover{
  color: rgb(11, 120, 139);
}

.firstRow .title p {
  padding-top: 15px;
}

.firstRow .author-img img {
  border-radius: 50%;
}

.firstRow .twoButton {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.firstRow .twoButton .update button,
.firstRow .twoButton .delete button,
.searchBtn button {
  padding: 10px 40px;
  margin-right: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: rgb(23, 165, 190);
  color: white;
  font-size: 18px;
  border: 1px solid transparent;
  transition: background 0.4s, color 0.4s, border 0.4s;
}

.searchBtn button {
  background: rgba(31, 28, 28, 1);
  border-radius: 0px;
  padding: 8.5px 40px;
}

.firstRow .twoButton .update {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a[name="view-post"] {
  height: 25px;
  font-size: 15px;
}

.firstRow .twoButton .delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.firstRow .twoButton .update button:hover,
.firstRow .twoButton .delete button:hover {
  background: white;
  color: rgb(23, 165, 190);
  border: 1px solid rgb(23, 165, 190);
}

.dateRow {
  display: flex;
  height: 20px;
}
.dateRow strong{
  margin-left: 5px;
}
.dateRow p {
  font-size: 12px;
  color: gray;
  margin-left: 3px;
}

.iconRow {
  display: flex;
  margin-bottom: 20px;
  font-size: 12px;
  color: gray;
}

.iconRow #code {
  margin-left: 20px;
}

.iconRow #file {
  margin-left: 20px;
}

.secondRow{
  height: 100px;
  overflow: hidden;
}

.thirdRow {
  margin-top: 10px;
  display: flex;
  height: 15px;
}

.thirdRow p {
  font-size: 15px;
  color: gray;
}

.thirdRow .upvotes {
  margin-left: 10px;
}

.thirdRow .comments {
  margin-left: 10px;
}

.tags{
  display: flex;
  /* border-top: 2px solid rgb(230, 228, 228); */
  border-bottom: 1px solid rgb(230, 228, 228);
  align-items: center;
}
.tags .tag-word{
  margin-top: 5px;
  margin-bottom: 5px;
}
.tags a{
  display: inline-block;
  width: max-content;
  background-color: rgb(171, 211, 223);
  color: rgb(6, 134, 173);
  font-size: 10px;
  text-decoration: none;
  margin-left: 5px;
  border-radius: 20px 20px 20px 20px;
}
.tags a:hover{
  color: rgb(83, 151, 207);
}

a {
  color: black;
  text-decoration: none;
  outline: none;

  padding: 6px 15px;
  font-size: 15px;
  border-radius: 5px;
}

/* Post Modal */
.modal-footer {
  display: flex;
  justify-content: space-between;
}

#title {
  margin-left: 3%;
  margin-top: 2%;
  border: none;
  border-bottom: 1px solid rgb(6, 134, 173);
}

#text-body {
  margin-left: 3%;
  width: 95%;
  border: none;
  border-bottom: 2px solid rgb(6, 134, 173);
}

.notifframe {
  position: fixed;
  width: 30%;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 0px 0px 10px 10px;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  margin-left: 34%;
}
.notifframe a{
  text-decoration: none;
}
.notifframe a:hover{
  
}
.footer{
  width: 30%;
  margin-left: 34%;
  border-top: 2px solid rgb(179, 177, 177);
  height: 30px;
  background-color: red;
}
.notif-end{
  text-align: center;
  font-size: 12px;
  color: rgb(172, 172, 172);
}
.notifframe .each-notif {
  display: flex;
  width: 99%;
  height: 60px;
  border-bottom: 1px solid rgb(204, 203, 203);
  padding-bottom: 5px;
}
.each-notif .logo{
  width: 60px;
  border-radius: 50%;
  background-color: rgb(23, 165, 190);
}
.logo i{
  margin-left: 25%;
  margin-top: 25%;
  font-size: 25px;
  color: white;
}
.text{
  margin-left: 10px;
}
.text strong, b{
  font-size: 12px;
}
.text .date{
  font-size: 10px;
  color: gray;
}

.darkener{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
@media (max-width: 1200px) {
  .allPost {
    width: 95%;
  }
}

/* ********** */
