.entire-page {
  display: flex;
}

.left {
  width: 68%;
  display: flex;
}

.left-contents {
  width: 99%;
}

.left a {
  text-decoration: none;
  color: black;
}

.left a:hover {
  color: rgb(60, 134, 168);
}

.left hr {
  width: 60%;
  height: 2px;
}

.id-row {
  background-image: linear-gradient(to right, rgb(105, 230, 220), white);
  display: flex;
}

.id-row .image {
  margin-left: 15%;
}

.id-row .image .user_img {
  border-radius: 50%;
  /* border: 1px solid black; */
  width: 55%;
  margin-left: 50%;
}

.non-image {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}

.non-image .name {
  font-size: 25px;
  font-weight: 300;
}

.non-image .username {
  color: rgb(139, 138, 138);
}

.non-image .intro {
  margin-top: 10px;
  font-size: 15px;
}

#edit-btn-id{
  border-radius: 50%;
}

.nav-bar {
  width: 60%;
  margin: auto;
}

.post-palette {
  width: 55%;
  margin-top: 15px;
  margin-left: 20%;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid rgb(228, 227, 227);
}

.post-palette .title {
  margin-top: 10px;
  margin-left: 2%;
  font-size: 30px;
}

.post-palette .date {
  margin-left: 2%;
  font-size: 12px;
  color: gray;
}

.post-palette hr {
  width: 100%;
}

.thirdRow {
  margin-left: 2%;
  margin-top: 10px;
  display: flex;
}

.thirdRow p {
  font-size: 15px;
  color: gray;
}

.thirdRow .upvotes {
  margin-left: 10px;
}

.thirdRow .comments {
  margin-left: 10px;
}

.right {
  width: 30%;
}

.about-section {
  margin-top: 25px;
}

.about {
  padding-bottom: 10px;
  width: 40%;
  font-size: 15px;
  border-bottom: 1px solid rgb(233, 232, 232);
}

.about-items {
  margin-top: 15px;
}

.about-items p {
  font-size: 12px;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.activity-section {
  margin-top: 100px;
}

.activities {
  padding-bottom: 10px;
  width: 40%;
  font-size: 15px;
  border-bottom: 1px solid rgb(233, 232, 232);
}

.activity-items {
  margin-top: 15px;
}

.activity-items p {
  font-size: 12px;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.edit-form input{
  border: none;
  border-bottom: 1px solid blue;
  border-radius: 0px;
}