@import url("https://fonts.googleapis.com/css?family=Thasadith:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abel|Oswald|Roboto+Mono&display=swap");

body {
  font-family: "Thasadith", sans-serif;
  /* background-color: rgb(243, 241, 241);  */
}

.badge {
  /* height: 30px;  
  margin-top: 10px; */
  display: none;
  float: right;
}
code:hover .badge {
  display: block;
}

.searchBox {
  display: flex;
  width: 60%;
  margin: auto;
  padding: 20px 0;
}

.searchBox .searchbar {
  width: 80%;
}

.searchBox .searchbar input {
  width: 99%;
  padding: 10px 0 10px 10px;
}

.searchBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.entire-page {
  display: flex;
}

/* ++++++++++++ Left ++++++++++++ */
.left {
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 25%;
  /* border-right: 1px solid rgb(230, 229, 229); */
  float: left;
}

.user-img {
  height: 200px;
  margin-left: 22%;
  margin-top: 10%;
}

.name {
  text-align: center;
  margin-top: 20px;
}

.username {
  color: rgb(151, 151, 151);
  text-align: center;
}

.left hr {
  width: 90%;
}

.left i {
  font-size: 30px;
  color: rgb(23, 165, 190);
  margin-left: 35%;
}

.view-show:hover,
.upvote-show:hover,
.comment-show:hover {
  background-color: rgb(245, 241, 241);
}

.contents {
  margin-top: 25px;
  margin-left: 18px;
  font-size: 18px;
  width: 90%;
  background-color: rgb(245, 241, 241);
  text-align: center;
}

.iconRow {
  display: flex;
  margin-bottom: 20px;
  margin-left: 5%;
  font-size: 12px;
  color: gray;
}

.iconRow i {
  font-size: 15px;
  color: gray;
}

.iconRow #code {
  margin-left: 20px;
}

.iconRow #file {
  margin-left: 20px;
}

.tag-area {
  width: 90%;
  height: 70px;
  margin-left: 18px;
  background-color: rgb(236, 236, 223);
}

/* +++++++++++++++++++++++++++++++ */

.mid {
  width: 45%;
  margin-left: 50px;
}

.allPost {
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

.eachPost {
  margin-top: 10px;
  padding: 10px;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}

.eachPost:last-child {
  padding: 10px;
  border-bottom: 0px solid black;
  padding-bottom: 30px;
}

.firstRow {
  display: flex;
  justify-content: space-between;
}

.firstRow .leftSide {
  display: flex;
}

.footer {
  display: flex;
}

.footer p {
  font-size: 15px;
  color: gray;
}

.footer .date {
  margin-left: 10px;
}

.firstRow {
  display: flex;
  justify-content: space-between;
}

.firstRow .title {
  display: flex;
  justify-content: space-between;
  font-size: 35px;
  margin-left: 10px;
  font-family: "Abel", sans-serif;
}
#savepost {
  margin-top: 5px;
  height: 40px;
  float: right;
}
.bookmark {
  display: none;
}

.firstRow .title p {
  padding-top: 15px;
}

.firstRow .author-img img {
  border-radius: 50%;
}

.firstRow .twoButton {
  display: flex;
  align-content: center;
}

.firstRow .twoButton .update button,
.firstRow .twoButton .delete button,
.searchBtn button {
  padding: 10px 40px;
  margin-right: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: rgb(23, 165, 190);
  color: white;
  font-size: 18px;
  border: 1px solid transparent;
  transition: background 0.4s, color 0.4s, border 0.4s;
}

.searchBtn button {
  background: rgba(31, 28, 28, 1);
  border-radius: 0px;
  padding: 8.5px 40px;
}

.firstRow .twoButton .update {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a[name="view-post"] {
  height: 25px;
  font-size: 15px;
}

.firstRow .twoButton .delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.firstRow .twoButton .update button:hover,
.firstRow .twoButton .delete button:hover {
  background: white;
  color: rgb(23, 165, 190);
  border: 1px solid rgb(23, 165, 190);
}

.dateRow {
  display: flex;
}

.dateRow p {
  font-size: 12px;
  color: gray;
  margin-left: 10px;
}

.secondRow p {
  font-size: 20px;
}
.secondRow img {
  max-width: 100%;
}

.thirdRow {
  /* margin-top: 10px; */
  display: flex;
}

.thirdRow p {
  font-size: 15px;
  color: gray;
}

.thirdRow .comments {
  margin-left: 10px;
}

.copy-button {
  float: right;
  border-radius: 0px 0px 15px 15px;
  background-color: rgb(73, 72, 72);
  color: white;
  font-size: 12px;
  display: none;
}

pre:hover .copy-button {
  display: block;
}

#comment-box {
  display: none;
  width: 80%;
}

#comment-box input {
  padding-top: 2px;
  width: 85%;
}
#comment-box i {
  width: 30px;
  border-radius: 5px 5px 5px 5px;
  color: rgb(23, 165, 190);
}

.post-comment {
  display: none;
}

.cancel-btn {
  display: none;
  margin-left: 10px;
}

.comment-area {
  display: flex;
  width: 60%;
  transition: 1s;
}

.comment-field {
  display: flex;
  width: 98%;
}

.form-area {
  display: flex;
  width: 98%;
}

.comment-form {
  width: 98%;
}

.modal-content input {
  width: 90%;
  margin: auto;
  border: none;
  border-bottom: 1px solid rgb(23, 165, 190);
}

.right a {
  color: rgb(23, 165, 190);
}

.mid a {
  color: rgb(23, 165, 190);
}
/* ********* Comment ********* */
.all-comments {
  width: 80%;
  display: flex;
  justify-content: center;
  background-color: white;
}

.each-comment {
  width: 100%;
  /* border: 1px solid rgb(230, 229, 229);
  border-radius: 10px;
  border-bottom: 1px solid black; */
  /* display: flex; */
  justify-content: center;
}

/* .each-comment:last-child {
  padding: 10px;
  border-bottom: 0px solid black;
} */
.comment-header {
}
.comment-author {
  display: flex;
}

.comment-img {
  border: 1px solid rgb(223, 221, 221);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.author-date {
  padding: 5px;
  background-color: rgb(236, 234, 234);
  border-radius: 15px 15px 15px 15px;
  margin-left: 10px;
}
.author-date strong {
  margin-left: 5px;
}
.author-date p {
  font-size: 12px;
}
.author-date .date {
  color: gray;
  font-size: 12px;
  align-items: center;
}

.upper-body {
  display: flex;
}
.modal-body i {
  color: rgb(23, 165, 190);
}

#lower-body {
  display: flex;
  margin-top: 20px;
}

.user-space a {
  text-decoration: none;
  color: black;
  border-radius: 20px 20px 20px 20px;
  padding: 5px;
  font-size: 12px;
  margin-left: 10px;
  background-color: rgb(156, 208, 218);
}

.tags {
  display: flex;
  align-items: center;
}
.tags .tag-word {
  margin-top: 5px;
  margin-bottom: 5px;
}
.tags a {
  display: inline-block;
  width: max-content;
  border: 2px solid gray;
  padding-left: 2px;
  padding-right: 2px;
  color: gray;
  font-size: 14px;
  text-decoration: none;
  margin-left: 5px;
  padding: 5px;
  border-radius: 20px 20px 20px 20px;
}
.tags a:hover {
  color: rgb(83, 151, 207);
}

.img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.comment-author p {
  margin-top: 10px;
  margin-left: 15px;
  font-size: 20px;
  font-style: bold;
}

.comment-secondRow {
  display: flex;
}
.comment-secondRow p {
  margin-left: 7%;
}

.right {
  width: 25%;
}

.right .related-posts {
  margin-top: 50px;
  margin-left: 20px;
}
.right .header {
  width: 40%;
  border-bottom: 1px solid rgb(224, 223, 223);
  padding-bottom: 5px;
}
.right .topic a {
  font-size: 13px;
  text-decoration: none;
}
.right .topic a:hover {
  color: rgb(131, 162, 221);
}

/* +++++ Toast +++++ */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.file-section p {
}
.file-section a {
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/* +++++++++++ User Info +++++++++++++ */
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
  text-decoration: none;
}
.user-section {
  display: flex;
  margin-left: 20px;
}
#user_img {
  border-radius: 50%;
  width: 80px;
  border: 1px solid rgb(236, 236, 236);
}
.non_img {
  margin-left: 45px;
}
.username {
  font-size: 12px;
  color: gray;
  float: left;
}
.name {
  font-size: 18px;
}

/* ++++++++++ File Section ++++++++++ */
.file-section {
  display: flex;
  border-top: 1px solid rgb(238, 238, 238);
  padding-top: 15px;
}
.file-display {
  padding: 10px;
  margin-left: 15px;
  /* width: 100px; */
  border: 1px solid rgb(238, 238, 238);
  background-color: rgb(238, 238, 238);
  border-radius: 15px 15px 15px 15px;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .left {
    display: none;
  }
  .right {
    display: none;
  }
  .mid {
    width: 95%;
    margin-left: 3%;
  }
  .title b {
    font-size: 15px;
  }
  .dateRow p {
    font-size: 10px;
  }

  .tags a {
    display: inline-block;
    width: max-content;
    border: 1px solid gray;
    padding-left: 2px;
    padding-right: 2px;
    color: gray;
    font-size: 10px;
    text-decoration: none;
    margin-left: 5px;
    padding: 5px;
    border-radius: 20px 20px 20px 20px;
  }

  .btn-outline-info {
    display: none;
  }
  .bookmark {
    display: block;
    margin-top: 5px;
    height: 40px;
    float: right;
  }

  .secondRow p {
    font-size: 12px;
  }
  .secondRow code {
    font-size: 12px;
  }
  .secondRow pre {
    font-size: 12px;
  }

  .img {
    width: 50px;
  }
  #user_img {
    border-radius: 50%;
    width: 100%;
    border: 1px solid rgb(236, 236, 236);
  }
  .name {
    font-size: 15px;
  }

  .thirdRow button {
    font-size: 10px;
  }

  .file-section p {
    font-size: 12px;
  }
  .file-section a {
    font-size: 10px;
  }

  .comment-header {
    font-size: 15px;
  }
  .comment-author .author-date p {
    font-size: 10px;
    padding: 5px;
    background-color: rgb(236, 234, 234);
    border-radius: 15px 15px 15px 15px;
    margin-left: 10px;
  }
  .comment_body {
    font-size: 12px;
  }
}
