<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="demo.css">
</head>

<body>

  <div class="searchBox">
    <div class="searchbar">
      <input type="text" name="search" placeholder="Search Here">
    </div>
    <div class="searchBtn">
      <button>Search</button>
    </div>
  </div>

  <section class="allPost">
    <div class="eachPost">
      <div class="firstRow">
        <div class="title">
          <p> My First Title </p>
        </div>
        <div class="twoButton">
          <div class="update"> <button>UPDATE</button> </div>
          <div class="delete"> <button>DELETE</button> </div>
        </div>
      </div>

      <div class="secondRow">
        <p>  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum perferendis voluptates recusandae, consequatur alias, architecto voluptate, amet molestias itaque fugiat labore eius! Repellat odio facere distinctio pariatur fugit deleniti eveniet.</p>
      </div>

      <div class="thirdRow">
        <a href="#"> Read More </a>
      </div>
    </div>

    <div class="eachPost">
      <div class="firstRow">
        <div class="title">
          <p> My First Title </p>
        </div>
        <div class="twoButton">
          <div class="update"> <button>UPDATE</button> </div>
          <div class="delete"> <button>DELETE</button> </div>
        </div>
      </div>

      <div class="secondRow">
        <p>  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum perferendis voluptates recusandae, consequatur alias, architecto voluptate, amet molestias itaque fugiat labore eius! Repellat odio facere distinctio pariatur fugit deleniti eveniet.</p>
      </div>

      <div class="thirdRow">
        <a href="#"> Read More </a>
      </div>
    </div>

    <div class="eachPost">
      <div class="firstRow">
        <div class="title">
          <p> My First Title </p>
        </div>
        <div class="twoButton">
          <div class="update"> <button>UPDATE</button> </div>
          <div class="delete"> <button>DELETE</button> </div>
        </div>
      </div>

      <div class="secondRow">
        <p>  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum perferendis voluptates recusandae, consequatur alias, architecto voluptate, amet molestias itaque fugiat labore eius! Repellat odio facere distinctio pariatur fugit deleniti eveniet.</p>
      </div>

      <div class="thirdRow">
        <a href="#"> Read More </a>
      </div>
    </div>
  </section>
</body>

</html>